# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# чутливе
*.tfvars
terraform.tfvars

# дозволяємо lock-файл
!.terraform.lock.hcl

# бінарники
*.exe
*.zip
*.gz
